# Logs
logs
*.log


# Compiled binary addons (http://nodejs.org/api/addons.html)
dist

# Dependency directory
# https://docs.npmjs.com/cli/shrinkwrap#caveats
node_modules

# Debug log from npm
npm-debug.log

# eclipse workspace 
.classpath
.settings
.project

# vagrant
.vagrant
Vagrantfile
/bin/
